nav {
    font-family: 'Source Sans Pro';
    font-style: normal;
    /* font-weight: 600; */
    /* font-size: 20px; */
    /* line-height: 16px; */


    /* letter-spacing: 0.1em; */
    /* text-transform: uppercase; */

    color: #FFFFFF;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-top: 20px;
}

nav>a,
li>a {
    text-decoration: none;
    color: #FFFFFF;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

li>a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.2em;
    text-transform: uppercase;
}

nav>a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
 
    letter-spacing: 0.1em;
    text-transform: uppercase;

}


ul {
    list-style: none;
    grid-column: 2 / 4;
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}

.grid_li:nth-child(1) {
    grid-column: 1 / 2;
}

.grid_li:nth-child(2) {
    grid-column: 2 / 3;
}

.grid_li:nth-child(3) {
    grid-column: 3 / 4;
}

.grid_li:nth-child(4) {
    grid-column: 4 / 5;
}