.grid_container_footer {
    background-color: #464547;
    position: static;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 2fr);

    padding: 2.5em 3em 0em 3em;
    text-align: left;
}

footer {
    color: #FFFFFF66;
    
}

footer a {
    text-decoration: none;
    color: #FFFFFF66;
}

.footer_1 {
    color: #FFFFFF;
    text-transform: uppercase;
    grid-column: 1 / 2;
}

.footer_2 {
    grid-column: 2 / 3;
}

.footer_3 {
    grid-column: 3 / 4;
}